.tabs
  .tabs_item{class: "#{add_active_class(root_path)}"}
    = link_to root_path do
      = I18n.t('articles.new_articles')
  .tabs_item{class: "#{add_active_class(timeline_path)}"}
    = link_to timeline_path do
      = I18n.t('articles.timeline')
